Repository woowa-techcamp-2021/cashbook-20, pull requests merged in 2021-07, with the labels that each got.

#7 지출 카테고리별 색상 변수 추가
  client/src/core/Component.ts
  client/src/scss/theme.scss
Labels: client, feature

#8 Component 클래스 추가, theme.scss 추가
  client/src/core/Component.ts
  client/src/scss/theme.scss
Labels: client, feature

#9 server 초기 환경 셋팅
  server/.env.sample
  server/app.js
  server/config/config.json
  server/models/index.js
  server/package-lock.json
  server/package.json
  server/routes/index.js
Labels: feature, server

#12 store 초본 추가
  client/src/store/index.ts
Labels: client, feature

#17 store에서 내부에서 작성되던 dispatch를 제거 & 분리
  client/src/app.ts
  client/src/lib/store.ts
  client/src/store/index.ts
  client/src/store/mutations.ts
Labels: client, feature

#16 stateName에 대해서 keyof로 타입 추가
  client/src/store/index.ts
Labels: client, refactor

#14 router middleware와 컴포넌트 디렉토리 구조 변경
  client/src/app.ts
  client/src/component/Nav.ts
  client/src/component/calendar/Calender.ts
  client/src/component/graph/Graph.ts
  client/src/component/home/Home.ts
  client/src/component/user/User.ts
  client/src/lib/router.ts
Labels: client, feature

#15 reset scss 추가
  client/src/scss/app.css
  client/src/scss/app.scss
  client/src/scss/reset.scss
Labels: client, feature

#18 erd 토대로 모델 작성 초안
  server/.env.sample
  server/app.js
  server/config/config.js
  server/config/config.json
  server/models/CardCategory.js
  server/models/Cards.js
  server/models/History.js
  server/models/Type.js
  server/models/Users.js
  server/models/index.js
Labels: feature, server

#20 nav바 마크업 및 기능, store setstate 변경, router 비동기 middleware 기능
  client/src/app.ts
  client/src/component/Nav.ts
  client/src/component/user/User.ts
  client/src/index.html
  client/src/lib/router.ts
  client/src/lib/store.ts
  client/src/scss/app.scss
  client/src/scss/nav.scss
  client/src/scss/theme.scss
  client/src/store/index.ts
  client/src/store/mutations.ts
  client/src/utils.ts
  client/webpack.config.js
Labels: bug, client, feature, refactor

#19 server oauth 구현
  server/.env.sample
  server/app.js
  server/config/config.js
  server/middlewares/auth.js
  server/models/Cards.js
  server/models/History.js
  server/package-lock.json
  server/package.json
  server/routes/index.js
  server/routes/user.js
  server/services/user.js
  server/test/oauth.test.js
  server/utils/jwt.js
Labels: client, feature

#21 user 정보를 가져오는 api 추가, oauth 로그인 시 response에 user 정보 추가
  server/routes/user.js
  server/services/card.js
  server/services/user.js
Labels: feature, server

#22 type, cardCategory를 모두 가져오는 api 구현
  server/config/config.js
  server/package.json
  server/routes/category.js
  server/routes/index.js
  server/seeders/20210728111211-create_types.js
  server/seeders/20210728111412-create_card_category.js
  server/services/category.js
Labels: feature, server

#23 custom alert 구현
  client/src/app.ts
  client/src/component/Alert.ts
  client/src/scss/alert.scss
  client/src/scss/app.scss
  client/src/scss/theme.scss
Labels: client, feature

#27 로그인 기능 구현, 상수 분리, store 데이터 & commit 생성, 페이지 렌더 시 nav를 제외한 나머지 subscriber 제거
  client/src/app.ts
  client/src/component/home/Home.ts
  client/src/component/user/User.ts
  client/src/constant.ts
  client/src/lib/api.ts
  client/src/lib/router.ts
  client/src/lib/store.ts
  client/src/store/index.ts
  client/src/store/mutations.ts
  client/webpack.config.js
  server/app.js
  server/package-lock.json
  server/package.json
Labels: client, feature, server

#24 기간에 따른 history 불러오기 api, history 생성 api 구현
  server/app.js
  server/models/CardCategory.js
  server/models/Cards.js
  server/models/History.js
  server/models/Type.js
  server/models/Users.js
  server/routes/history.js
  server/routes/index.js
  server/services/card.js
  server/services/history.js
  server/utils/date.js
Labels: feature, server

#28 nav bar 리팩토링 & 초기 렌더링 시 가져와야 할 정보를 가져오는 기능 추가
  client/src/app.ts
  client/src/assets/favicon.ico
  client/src/component/Nav.ts
  client/src/component/home/Home.ts
  client/src/constant.ts
  client/src/lib/api.ts
  client/src/scss/nav.scss
  client/src/store/index.ts
  client/src/store/mutations.ts
  client/webpack.config.js
Labels: client, feature
